Flight Price prediction EDA and Feature Engineering

In [90]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [132]:
train_df=pd.read_excel('Flight_Train (1).xlsx')
train_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [133]:
test_df=pd.read_excel('Flight_test.xlsx')
test_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info

In [134]:
df=pd.concat([train_df,test_df],ignore_index=True)#merge two dataset
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0

In [135]:
df.tail()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
13349,Air India,6/06/2019,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25 07 Jun,23h 55m,1 stop,No info,NaN
13350,IndiGo,27/03/2019,Kolkata,Banglore,CCU → BLR,14:20,16:55,2h 35m,non-stop,No info,NaN
13351,Jet Airways,6/03/2019,Delhi,Cochin,DEL → BOM → COK,21:50,04:25 07 Mar,6h 35m,1 stop,No info,NaN
13352,Air India,6/03/2019,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info,NaN
13353,Multiple carriers,15/06/2019,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info,NaN

In [136]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13354 entries, 0 to 13353
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
dtypes: float64(1), object(10)
memory usage: 1.1+ MB

In [137]:
##Feature Engineering Process
#df['Date']=final_df['Date_of_Journey'].str.split('/').str[0]
#df['Month']=final_df['Date_of_Journey'].str.split('/').str[1]
#df['Year']=final_df['Date_of_Journey'].str.split('/').str[2]

In [138]:
#can also use lambda function
df['Date']=df['Date_of_Journey'].apply(lambda x:x.split('/')[0])
df['Month']=final_df['Date_of_Journey'].apply(lambda x:x.split('/')[1])
df['Year']=final_df['Date_of_Journey'].apply(lambda x:x.split('/')[2])

In [139]:
df['Date']=df['Date'].astype(int)
df['Month']=df['Month'].astype(int)
df['Year']=df['Year'].astype(int)

In [140]:
df.drop('Date_of_Journey',axis=1,inplace=True)

In [141]:
df['Arrival_Time']=df['Arrival_Time'].apply(lambda x:x.split(' ')[0])

In [142]:
df.isnull().sum()

Airline               0
Source                0
Destination           0
Route                 1
Dep_Time              0
Arrival_Time          0
Duration              0
Total_Stops           1
Additional_Info       0
Price              2671
Date                  0
Month                 0
Year                  0
dtype: int64

In [143]:
df['Arrival_Hour']=df['Arrival_Time'].apply(lambda x:x.split(':')[0]).astype(int)
df['Arrival_Min']=df['Arrival_Time'].apply(lambda x:x.split(':')[1]).astype(int)

In [144]:
df.head(2)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Min
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,non-stop,No info,3897.0,24,3,2019,1,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,5,2019,13,15

In [145]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13354 entries, 0 to 13353
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Route            13353 non-null  object
 4   Dep_Time         13354 non-null  object
 5   Arrival_Time     13354 non-null  object
 6   Duration         13354 non-null  object
 7   Total_Stops      13353 non-null  object
 8   Additional_Info  13354 non-null  object
 9   Price            10683 non-null  float64
 10  Date             13354 non-null  int32
 11  Month            13354 non-null  int32
 12  Year             13354 non-null  int32
 13  Arrival_Hour     13354 non-null  int32
 14  Arrival_Min      13354 non-null  int32
dtypes: float64(1), int32(5), object(9)
memory usage: 1.3+ MB

In [146]:
df.drop('Arrival_Time',axis=1,inplace=True)

In [147]:
df.head(1)

,Airline,Source,Destination,Route,Dep_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Min
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,2h 50m,non-stop,No info,3897.0,24,3,2019,1,10

In [148]:
df['Dept_Hour']=df['Dep_Time'].apply(lambda x:x.split(':')[0]).astype(int)
df['Dept_Min']=df['Dep_Time'].apply(lambda x:x.split(':')[1]).astype(int)

In [149]:
df.drop('Dep_Time',axis=1,inplace=True)

In [150]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13354 entries, 0 to 13353
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Route            13353 non-null  object
 4   Duration         13354 non-null  object
 5   Total_Stops      13353 non-null  object
 6   Additional_Info  13354 non-null  object
 7   Price            10683 non-null  float64
 8   Date             13354 non-null  int32
 9   Month            13354 non-null  int32
 10  Year             13354 non-null  int32
 11  Arrival_Hour     13354 non-null  int32
 12  Arrival_Min      13354 non-null  int32
 13  Dept_Hour        13354 non-null  int32
 14  Dept_Min         13354 non-null  int32
dtypes: float64(1), int32(7), object(7)
memory usage: 1.2+ MB

In [151]:
df.head(10)

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Min,Dept_Hour,Dept_Min
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,non-stop,No info,3897.0,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2 stops,No info,7662.0,1,5,2019,13,15,5,50
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2 stops,No info,13882.0,9,6,2019,4,25,9,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,1 stop,No info,6218.0,12,5,2019,23,30,18,5
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,1 stop,No info,13302.0,1,3,2019,21,35,16,50
5,SpiceJet,Kolkata,Banglore,CCU → BLR,2h 25m,non-stop,No info,3873.0,24,6,2019,11,25,9,0
6,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,15h 30m,1 stop,In-flight meal not included,11087.0,12,3,2019,10,25,18,55
7,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,21h 5m,1 stop,No info,22270.0,1,3,2019,5,5,8,0
8,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,25h 30m,1 stop,In-flight meal not included,11087.0,12,3,2019,10,25,8,55
9,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,7h 50m,1 stop,No info,8625.0,27,5,2019,19,15,11,25

In [152]:
df['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [153]:
df['Total_Stops']=df['Total_Stops'].map({'non-stop':0,'1 stop':1,'2 stops':2,'3 stops':3,'4 stops':4,'nan':1})

In [154]:
df.drop('Route',axis=1,inplace=True)

In [155]:
df['Additional_Info'].unique()

array(['No info', 'In-flight meal not included',
       'No check-in baggage included', '1 Short layover', 'No Info',
       '1 Long layover', 'Change airports', 'Business class',
       'Red-eye flight', '2 Long layover'], dtype=object)

In [156]:
df['Duration_hour'] =df['Duration'].str.split('h').str[0]

In [157]:
df.drop(6474,axis=0,inplace=True)
df.drop(13343,axis=0,inplace=True)

In [158]:
df[df['Duration_hour']=='5m']

Empty DataFrame
Columns: [Airline, Source, Destination, Duration, Total_Stops, Additional_Info, Price, Date, Month, Year, Arrival_Hour, Arrival_Min, Dept_Hour, Dept_Min, Duration_hour]
Index: []

In [159]:
df['Duration_hour']=df['Duration_hour'].astype(int)

In [160]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13352 entries, 0 to 13353
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13352 non-null  object
 1   Source           13352 non-null  object
 2   Destination      13352 non-null  object
 3   Duration         13352 non-null  object
 4   Total_Stops      13351 non-null  float64
 5   Additional_Info  13352 non-null  object
 6   Price            10682 non-null  float64
 7   Date             13352 non-null  int32
 8   Month            13352 non-null  int32
 9   Year             13352 non-null  int32
 10  Arrival_Hour     13352 non-null  int32
 11  Arrival_Min      13352 non-null  int32
 12  Dept_Hour        13352 non-null  int32
 13  Dept_Min         13352 non-null  int32
 14  Duration_hour    13352 non-null  int32
dtypes: float64(2), int32(8), object(5)
memory usage: 1.2+ MB

In [161]:
df.head()

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Min,Dept_Hour,Dept_Min,Duration_hour
0,IndiGo,Banglore,New Delhi,2h 50m,0.0,No info,3897.0,24,3,2019,1,10,22,20,2
1,Air India,Kolkata,Banglore,7h 25m,2.0,No info,7662.0,1,5,2019,13,15,5,50,7
2,Jet Airways,Delhi,Cochin,19h,2.0,No info,13882.0,9,6,2019,4,25,9,25,19
3,IndiGo,Kolkata,Banglore,5h 25m,1.0,No info,6218.0,12,5,2019,23,30,18,5,5
4,IndiGo,Banglore,New Delhi,4h 45m,1.0,No info,13302.0,1,3,2019,21,35,16,50,4

In [162]:
df['Duration_min']=df['Duration'].str.split(' ').str[1].str.split('m').str[0]

In [172]:
df['Duration_min'].fillna(0, inplace=True)
df['Duration_min'] = df['Duration_min'].astype(int)

C:\Users\hp\AppData\Local\Temp\ipykernel_23968\496446605.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Duration_min'].fillna(0, inplace=True)

In [163]:
df.drop('Duration',axis=1,inplace=True)

In [185]:
df['Total_Stops'].isnull().sum()#=df['Total_Stops'].astype(int)
df[df['Total_Stops'].isnull()]

,Total_Stops,Price,Date,Month,Year,Arrival_Hour,Arrival_Min,Dept_Hour,Dept_Min,Duration_hour,...,Destination_New Delhi,Additional_Info_1 Short layover,Additional_Info_2 Long layover,Additional_Info_Business class,Additional_Info_Change airports,Additional_Info_In-flight meal not included,Additional_Info_No Info,Additional_Info_No check-in baggage included,Additional_Info_No info,Additional_Info_Red-eye flight
9039,NaN,7480.0,6,5,2019,9,25,9,45,23,...,0,0,0,0,0,0,0,0,1,0

In [186]:
df['Total_Stops'].fillna(df['Total_Stops'].mode()[0], inplace=True)

C:\Users\hp\AppData\Local\Temp\ipykernel_23968\789961911.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Total_Stops'].fillna(df['Total_Stops'].mode()[0], inplace=True)

In [187]:
df['Total_Stops'].isnull().sum()

0

In [189]:
df.isnull().sum() #no null values except for price (test data)

Total_Stops                                        0
Price                                           2670
Date                                               0
Month                                              0
Year                                               0
Arrival_Hour                                       0
Arrival_Min                                        0
Dept_Hour                                          0
Dept_Min                                           0
Duration_hour                                      0
Duration_min                                       0
Airline_Air India                                  0
Airline_GoAir                                      0
Airline_IndiGo                                     0
Airline_Jet Airways                                0
Airline_Jet Airways Business                       0
Airline_Multiple carriers                          0
Airline_Multiple carriers Premium economy          0
Airline_SpiceJet                                   0
Airline_Trujet                                     0
Airline_Vistara                                    0
Airline_Vistara Premium economy                    0
Source_Chennai                                     0
Source_Delhi                                       0
Source_Kolkata                                     0
Source_Mumbai                                      0
Destination_Cochin                                 0
Destination_Delhi                                  0
Destination_Hyderabad                              0
Destination_Kolkata                                0
Destination_New Delhi                              0
Additional_Info_1 Short layover                    0
Additional_Info_2 Long layover                     0
Additional_Info_Business class                     0
Additional_Info_Change airports                    0
Additional_Info_In-flight meal not included        0
Additional_Info_No Info                            0
Additional_Info_No check-in baggage included       0
Additional_Info_No info                            0
Additional_Info_Red-eye flight                     0
dtype: int64

In [165]:
df['Airline'].unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [166]:
df.shape

(13352, 15)

In [167]:
df.head(2)

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Min,Dept_Hour,Dept_Min,Duration_hour,Duration_min
0,IndiGo,Banglore,New Delhi,0.0,No info,3897.0,24,3,2019,1,10,22,20,2,50
1,Air India,Kolkata,Banglore,2.0,No info,7662.0,1,5,2019,13,15,5,50,7,25

In [169]:
from sklearn.preprocessing import OneHotEncoder
ohe=OneHotEncoder()
df=pd.get_dummies(df,columns=['Airline','Source','Destination','Additional_Info'],drop_first=True)

In [182]:
df.head()

,Total_Stops,Price,Date,Month,Year,Arrival_Hour,Arrival_Min,Dept_Hour,Dept_Min,Duration_hour,...,Destination_New Delhi,Additional_Info_1 Short layover,Additional_Info_2 Long layover,Additional_Info_Business class,Additional_Info_Change airports,Additional_Info_In-flight meal not included,Additional_Info_No Info,Additional_Info_No check-in baggage included,Additional_Info_No info,Additional_Info_Red-eye flight
0,0.0,3897.0,24,3,2019,1,10,22,20,2,...,1,0,0,0,0,0,0,0,1,0
1,2.0,7662.0,1,5,2019,13,15,5,50,7,...,0,0,0,0,0,0,0,0,1,0
2,2.0,13882.0,9,6,2019,4,25,9,25,19,...,0,0,0,0,0,0,0,0,1,0
3,1.0,6218.0,12,5,2019,23,30,18,5,5,...,0,0,0,0,0,0,0,0,1,0
4,1.0,13302.0,1,3,2019,21,35,16,50,4,...,1,0,0,0,0,0,0,0,1,0

In [180]:
bool_cols = df.select_dtypes(include='bool').columns
df[bool_cols] = df[bool_cols].astype(int)

In [181]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13352 entries, 0 to 13353
Data columns (total 40 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Total_Stops                                   13351 non-null  float64
 1   Price                                         10682 non-null  float64
 2   Date                                          13352 non-null  int32
 3   Month                                         13352 non-null  int32
 4   Year                                          13352 non-null  int32
 5   Arrival_Hour                                  13352 non-null  int32
 6   Arrival_Min                                   13352 non-null  int32
 7   Dept_Hour                                     13352 non-null  int32
 8   Dept_Min                                      13352 non-null  int32
 9   Duration_hour                                 13352 non-null  int32
 10  Duration_min                                  13352 non-null  int32
 11  Airline_Air India                             13352 non-null  int32
 12  Airline_GoAir                                 13352 non-null  int32
 13  Airline_IndiGo                                13352 non-null  int32
 14  Airline_Jet Airways                           13352 non-null  int32
 15  Airline_Jet Airways Business                  13352 non-null  int32
 16  Airline_Multiple carriers                     13352 non-null  int32
 17  Airline_Multiple carriers Premium economy     13352 non-null  int32
 18  Airline_SpiceJet                              13352 non-null  int32
 19  Airline_Trujet                                13352 non-null  int32
 20  Airline_Vistara                               13352 non-null  int32
 21  Airline_Vistara Premium economy               13352 non-null  int32
 22  Source_Chennai                                13352 non-null  int32
 23  Source_Delhi                                  13352 non-null  int32
 24  Source_Kolkata                                13352 non-null  int32
 25  Source_Mumbai                                 13352 non-null  int32
 26  Destination_Cochin                            13352 non-null  int32
 27  Destination_Delhi                             13352 non-null  int32
 28  Destination_Hyderabad                         13352 non-null  int32
 29  Destination_Kolkata                           13352 non-null  int32
 30  Destination_New Delhi                         13352 non-null  int32
 31  Additional_Info_1 Short layover               13352 non-null  int32
 32  Additional_Info_2 Long layover                13352 non-null  int32
 33  Additional_Info_Business class                13352 non-null  int32
 34  Additional_Info_Change airports               13352 non-null  int32
 35  Additional_Info_In-flight meal not included   13352 non-null  int32
 36  Additional_Info_No Info                       13352 non-null  int32
 37  Additional_Info_No check-in baggage included  13352 non-null  int32
 38  Additional_Info_No info                       13352 non-null  int32
 39  Additional_Info_Red-eye flight                13352 non-null  int32
dtypes: float64(2), int32(38)
memory usage: 2.2 MB